!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Mal Devisa'
    %meta{:name => 'description', :content => "#{content_for?(:description) ? yield(:description) : 'Mal Devisa'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/social_bar'
      = render 'layouts/main_navigation'
      :javascript
        setupPopListener();
    %main{:role => 'main'}
      = yield
    %footer
      ="&copy; #{Time.now.year} - Mal Devisa. All Rights Reserved.".html_safe